include README.md
include LICENSE.txt
global-include **.typed
global-include **.pyi
include tox.ini
recursive-include src/pykickoff/templates/base *.txt *.j2
recursive-include src/pykickoff/templates/package *.txt *.j2
recursive-include src/pykickoff/templates/fastapi *.txt *.j2
recursive-include src/pykickoff/templates/docker *.txt *.j2

exclude scripts/**